# === SECRETS ===
api_key.txt
access_token.txt
telegram_token.txt
chat_id.txt
.env
config/

# === DATABASES ===
*.db

# === LOGS & BACKUPS ===
logs/
backups/

# === PYTHON CACHE ===
__pycache__/
*.pyc

# === VIRTUAL ENV ===
nifty_env/


# === SECRETS KEY ===
secrets.py

# === EDITOR TEMP FILES ===
*.swp
*.swo
